// Navigation Styles here
.home {

  .top-header {
    border-bottom: 1px dashed grey;
    
    nav {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      margin: 5% 0 5% 48%;
      font-size: 1.6rem; 
      width: 50%;
  
      

      a{
        color: black;
        text-decoration: none;
      
      }
    }
  }
}